body {

}


h1 {
text-align: center;
color: white;

}

.lead {
    text-align: center;
    color: white;

}

.form-group {
    font-weight: bold;
}

.jumbotron {
    background-color: black;
}

#currentTime {
    color: white;
    text-align: center;
}